.realmeAndroid {
	height: 160px;
	width: 80vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 20px;
	margin: 0px auto 5px;
}

.realmeAndroid img {
	height: 100%;
}

.realmeAndroid div.androidInfo {}

.realmeAndroid div.androidInfo ul {
	list-style: none;
	margin-top: 1%;
}

.realmeAndroid div.androidInfo ul li::before {
	content: "\2022";
	color: #f7a1a1;
	font-weight: bold;
	display: inline-block;
	width: 1em;
}

div.realmeAndroid div.pricing{
	height: 100%;
    font-size: 2em;
}